body{
    display: grid;
    place-items: center;
    min-height: 100ch;
    background: #fae1dd
}

.container{
    position: relative;
    height: 10%;
}

.valentines{
    animation: up 2s linear infinite;
    position: relative;
    top: 50px;
    /* cursor: pointer; */
}

.envelope{
    position: relative;
    width: 300px;
    height: 200px;
    background: #f08080;
    display: grid;
    place-items: center;
}

.envelope::before{
    content: '';
    position: absolute;
    width: 212px;
    height: 212px;
    background: #f08080;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
}

.front{
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
}

.front::before{
    position: absolute;
    content: '';
    border-left: 300px solid #fda996;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
}

.valentines:hover .card{
    cursor: pointer;
    transform: translateY(-100px);
}

.card{
    width: 100%;
    height: 100%;
    cursor: pointer;
    place-items: center;
    transition: 1s;
}

@keyframes translate {
    from { transform: translateY(-100px); }
    to { transform: translateY(-250px); }
}

@keyframes spin {
    from { transform: translateY(-250px); }
    to { transform: translateY(-25px) scale(1.8,1.8) rotate(-90deg); }
}

/* @keyframes flip {
    from { transform: translateY(-50px) scale(1.8,1.8) rotate(-90deg); }
    to { transform: translateY(-50px) scale(1.8,1.8) rotate(-90deg); }
} */


/* .hidden {
    display: none;
} */

.card-opened {
    width: 100%;
    height: 100%;
    animation: translate, spin forwards;
    animation-duration: 1s, 1s;
    animation-delay: 0s, 1s;
    z-index: 999;
    transform-style: preserve-3d;
    transition: 1s;
    /* transition: 1s;
    -webkit-transform: translateY(-100px) rotate(-90deg);
            transform: translateY(-100px) rotate(-90deg); */
 }  

.card-opened.show {
    rotate: y 180deg;
}

.card-opened-front, 
.card-opened-back {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    backface-visibility: hidden;
}

.card-opened-back {
    height: 100%;
    width: 100%;
    transition: 1s;
    background: #fff;
    border: black;
    transform: rotateY(180deg);
    outline: dashed;
    outline-width: 2px;
    outline-offset: -10px;
}

.text {
    transform: rotate(-90deg);
}

.message {
    text-align: center;
    position: inherit;
    height: 5%;
}

@keyframes up {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
}

.valentines::before{
    content: '';
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    top: 265px;
    left: -15px;
    animation: scale 2s linear infinite;
}

@keyframes scale {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0.85);
    }
}
