body{
    display: grid;
    place-items: center;
    min-height: 100ch;
    background: #fae1dd
}

.container{
    position: relative;
}

.valentines{
    position: relative;
    top: 50px;
    cursor: pointer;
}

.envelope{
    position: relative;
    width: 300px;
    height: 200px;
    background: #f08080;
    display: grid;
    place-items: center;
}

.envelope::before{
    content: '';
    position: absolute;
    width: 212px;
    height: 212px;
    background: #f08080;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
}

.front{
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
}

.front::before{
    position: absolute;
    content: '';
    border-left: 300px solid #fda996;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
}

.card{
    position: relative;
    background: #fff; 
    border-radius: 2px;
    display: grid;
    place-items: center;
    transition: 1s;
    outline: 0;
}

.valentines:hover .card{
    transform: translateY(-100px);
}

@keyframes spin {
    from { transform: translateY(-100px) (1,1) rotate(0deg); }
    to { transform: translateY(-100px) scale(1.7,1.7) rotate(-90deg); }
}

.rotated-card {
    animation: spin 1s forwards;
    /* transition: 1s;
    -webkit-transform: translateY(-100px) rotate(-90deg);
            transform: translateY(-100px) rotate(-90deg); */
 }  
